MONGO_URI=mongodb+srv://<username>:<password>@cluster0.ymwfcv6.mongodb.net/smart_parking_db?retryWrites=true&w=majority
MONGO_DB=smart_parking_db
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_app_password